<p>
  <em><%= comment.body %></em></br>
  <small><strong>~<%= User.find(comment.user_id).name %></strong></small>
</p>

<p>
  <%= link_to 'Destroy Comment', [comment.pin, comment],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>