<% unless user_signed_in? %>
	<div class="hero-unit">
		<h1>Welcome to Faux-taux</h1>
		<p>
			It's like Pinterest (if it were built by a code rookie). I'm building it as part of 
			<%= link_to "this", "http://www.skillshare.com/Teach-Yourself-to-Code-One-Month-Rails/1289605848/classroom/discussions" %> course.
		</p>
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>
<% end %>
