<h1>About</h1>
<p>
	<%= link_to "One Month Rails", "http://www.skillshare.com/Teach-Yourself-to-Code-One-Month-Rails/1289605848/classroom/discussions" %> is a project to teach
	<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
	in one month. Phinterest is the practice app we're building for class.
</p>
