<div class="hero-unit">
	<h1>Welcome to One Month Rails!</h1>
	<p>
		You've found the home page for a
		Ruby on Rails practice application
		by the founder of 
		<%= link_to "MarbleSpark", "http://www.marblespark.com" %>.
	</p>
	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>
