<div class="hero-unit">
	<h1>Welcome to Phinterest</h1>
	<p>
		It's like Pinterest, but crappier. I'm building it as part of 
		<%= link_to "this", "http://www.skillshare.com/Teach-Yourself-to-Code-One-Month-Rails/1289605848/classroom/discussions" %> course.
	</p>
	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>
