<div class="footer">
	<small>
		Hi. I'm Phil. I'm a rookie coder. To see what else I've done: check out the world's <a href="http://www.marblespark.com/personalized-books">best personalized books</a>.
	</small>
</div>